@import url(../lib/Pages/login/login.css);
@import url(../lib/Pages/cadastro/cadastro.css);
@import url(../lib/Pages/feed/feed.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background: #F0F8FF;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
}

.footer p {
    text-align: center;
}